  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="name" type="text" value="<%= @lesson.name %>">
  <label for="lesson_content">Content</label>
  <input id="lesson_content" name="content" type="text" value="<%= @lesson.content %>">
